html, body {
    height: 100%
}

.container {
    min-height: 100vh;
    width: 100%;
    margin: 10%;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav {
    margin-left: auto;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    margin-right: auto;
}

main {
    margin: 0px 100px;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}

.site-introduction {
    margin: 0px 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.introduction{
    max-width: 50%;
    flex-flow: column wrap;
}

.main-image {
    max-width: 50%;
    flex-flow: column wrap;
}
 
.random-image {
    max-width: 25%;
}

footer {
    display: flex;
    flex-direction: row;
}