.container {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header {
    padding: 5px;
    display: flex;
    align-items: center;
}

h1 {
    margin-right: auto;
    font-size: 24px;
    color: #F9F8FA;
}

nav {
    margin-left: auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    color: #E5E7EB;

}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Roboto", sans-serif;
}

header, footer, .hero {
    background-color: #1f2937;
}

.hero {
    margin: auto;
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 15%;
}

.introduction {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.top-section, .bottom-section {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
}

.card {
    max-width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style:  light italic;
    color: #1F2937;
}
